.header__toggle-button {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: transparent url("../../../img/open-toggle.svg") no-repeat;

    @media (min-width: $width-tablet) {
      margin-bottom: 4px;
    }

    @media (min-width: $width-desktop) {
      display: none;
    }

    &--active {
      background-image: url("../../../img/close-toggle.svg");
    }
}

// stylized navigation

.header__toggle-button--active ~ .header__nav {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;

  @media (min-width: $width-tablet) {
    top: 80px;
  }

  @media (min-width: $width-desktop) {
    position: static;
  }
}
